@model STI.Models.temas_curso

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>temas_curso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_tema)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre_tema)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.curso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.curso.nivel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_temas">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
